<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Concrete</key>
	<true/>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Description</key>
	<string>This template is the starting point for any iOS application built by ZZ</string>
	<key>Definitions</key>
	<dict>
		<key>Supporting Files/Info.plist</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Info.plist</string>
		</dict>
		<key>Supporting Files/Prefix.pch:objC:importUIKit</key>
		<string>@import UIKit;</string>
		<key>Classes/</key>
		<dict>
			<key>Path</key>
			<string>Classes</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/Common/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Common</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Controllers/</key>
		<dict>
			<key>Path</key>
			<string>Controllers</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/Categories/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Categories</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Models/</key>
		<dict>
			<key>Path</key>
			<string>Models</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/Helpers/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Helpers</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Views/</key>
		<dict>
			<key>Path</key>
			<string>Views</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Views/Common/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
			</array>
			<key>Path</key>
			<string>Controllers</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Views/Storyboards/</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
			</array>
			<key>Path</key>
			<string>Storyboards</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Macro/</key>
		<dict>
			<key>Path</key>
			<string>Macro</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Vendors/</key>
		<dict>
			<key>Path</key>
			<string>Vendors/</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Resources/</key>
		<dict>
			<key>Path</key>
			<string>Resources</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Resources/Images.xcassets</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>Images.xcassets</string>
		</dict>
		<key>Resources/InfoPlist.strings</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>InfoPlist.strings</string>
		</dict>
		<key>Resources/iTunesArtwork</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>iTunesArtwork</string>
		</dict>
		<key>Resources/iTunesArtwork@2x</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>iTunesArtwork@2x</string>
		</dict>
	</dict>
	<key>Identifier</key>
	<string>com.zz.singleViewApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Nodes</key>
	<array>
		<string>Supporting Files/Prefix.pch:objC:importUIKit</string>
		<string>Supporting Files/Info.plist</string>
		<string>Vendors/</string>
		<string>Resources/</string>
		<string>Resources/Images.xcassets</string>
		<string>Resources/InfoPlist.strings</string>
		<string>Resources/iTunesArtwork</string>
		<string>Resources/iTunesArtwork@2x</string>
		<string>Views/</string>
		<string>Views/Common/</string>
		<string>Views/Storyboards/</string>
		<string>Models/</string>
		<string>Macro/</string>
		<string>Controllers/</string>
		<string>Classes/</string>
		<string>Classes/Helpers/</string>
		<string>Classes/Categories/</string>
		<string>Classes/Common/</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.h:comments</string>
						<string>ViewController.h:imports:importCocoa</string>
						<string>ViewController.h:interface(___FILEBASENAME___ : UIViewController)</string>
						<string>ViewController.m:comments</string>
						<string>ViewController.m:imports:importHeader:ViewController.h</string>
						<string>ViewController.m:extension</string>
						<string>ViewController.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
						<string>ViewController.m:implementation:methods:viewDidLoad:super</string>
						<string>ViewController.m:implementation:methods:didReceiveMemoryWarning(- (void\)didReceiveMemoryWarning)</string>
						<string>ViewController.m:implementation:methods:didReceiveMemoryWarning:super</string>
					</array>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.swift:comments</string>
						<string>ViewController.swift:imports:importCocoa</string>
						<string>ViewController.swift:implementation(___FILEBASENAME___: UIViewController)</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad(override func viewDidLoad(\))</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad:super</string>
						<string>ViewController.swift:implementation:methods:didReceiveMemoryWarning(override func didReceiveMemoryWarning(\))</string>
						<string>ViewController.swift:implementation:methods:didReceiveMemoryWarning:super</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>ASSETCATALOG_COMPILER_LAUNCHIMAGE_NAME</key>
				<string>LaunchImage</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
